<div class="wrapper todos__wrapper">
  @if(isEmptyTodos()) {
  <div class="todos__empty-wrapper">
    <span class="circle"></span>
    <p>Нет задач</p>
    <p>Кликните в поле ввода выше, чтобы добавить задачу</p>
  </div>
  } @else {
  <div>
    <p>Задачи • (количество помидор)</p>
  </div>

  <ul class="main-page__todos-list">
    @for (todo of ucompletedTodos(); track todo.idTodo) {
    <app-todo [todo]="todo"></app-todo>
    }
  </ul>
  }
  <div class="main-page__button-wrapper">
    <button
      (click)="showCompletedTodos()"
      class="button button__todos"
      [ngClass]="{ button__todos_active: isVisibleCompletedTodos() }"
    >
      Показать завершенные задачи
    </button>
  </div>
  @if(isVisibleCompletedTodos()) { @if(isEmptyCompletedTodos()) {
  <p>Сегодня</p>
  <ul class="main-page__todos-list">
    @for (todo of completedTodos(); track $index) {
    <app-todo [todo]="todo"></app-todo>
    }
  </ul>
  } }
</div>
