<div class="wrapper todos__wrapper">
  @if(isEmptyTodos()) {
  <div class="todos__empty-wrapper">
    <span class="circle"></span>
    <p>Нет задач</p>
    <p>Кликните в поле ввода выше, чтобы добавить задачу</p>
  </div>
  } @else {
  <p>Сегодня</p>
  <ul class="main-page__todos-list">
    @for (todo of ucompletedTodos(); track todo.idTodo) {
    <li class="main-page__todos-link">
      <div class="todos-link__todo-options">
        <span (click)="todoCompleteHandler(todo.idTodo)" class="circle__todo">
          @if(todo.isComplete) {
          <mat-icon class="icon todos-link__icon todos-link__icon_check"
            >check</mat-icon
          >
          }
        </span>
        <mat-icon class="icon todos-link__icon">play_circle</mat-icon>
        <div>
          <span class="todos-link__title">
            {{ todo.title }}
          </span>
          <div>
            @if(isNumberMoreFive(todo.pomodoroValue)) { @for (item of
            createArray(todo.pomodoroValue); track $index) {
            <mat-icon class="icon icon__todos">apple</mat-icon>
            } } @else {
            <div>
              <mat-icon class="icon icon__todos">apple</mat-icon> 0 /
              <mat-icon class="icon icon__todos">apple</mat-icon>
              {{ todo.pomodoroValue }}
            </div>
            }
          </div>
        </div>
      </div>
      <span>{{ getFormattedDate(todo.timeCreate) }}</span>
    </li>
    }
  </ul>
  }
  <div class="main-page__button-wrapper">
    <button
      (click)="showCompletedTodos()"
      class="button button__todos"
      [ngClass]="{ button__todos_active: isVisibleCompletedTodos() }"
    >
      Показать завершенные задачи
    </button>
  </div>
  @if(isVisibleCompletedTodos()) {
  <p>Сегодня</p>
  <ul class="main-page__todos-list">
    @for (item of completedTodos(); track $index) {
    <li class="main-page__todos-link">
      <div class="todos-link__todo-options">
        <span
          (click)="todoCompleteHandler(item.idTodo)"
          class="circle__todo"
          [ngClass]="{ circle__todo_active: item.isComplete }"
        >
          <mat-icon class="icon todos-link__icon todos-link__icon_check"
            >check</mat-icon
          >
        </span>
        <mat-icon class="icon todos-link__icon">play_circle</mat-icon>
        <span class="todos-link__title">
          {{ item.title }}
        </span>
      </div>
      <span>{{ getFormattedDate(item.timeCreate) }}</span>
    </li>
    }
  </ul>
  }
</div>
