// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --color-secondary: #e74c3c;
  --color-focus-input: #e74c3c;
  --color-icon-tomato: rgb(189, 188, 188);
  --color-icon-tomato-active: #f77a6c;
  --color-icon-tomato-complete: red;
  --color-bg-primary: #d3d3d3;
  --color-bg-second: #f1f0f5;
  --color-bg-timer: white;
  --color-button-inc-bg: #e74c3c;
  --color-button-inc: #fff;
  --color-button-bg-active: gray;
  --color-button-text-active: white;
  --color-button-hover: red;
  --color-bg-button-delete: #e74c3c;
  --color-button-delete: white;
  --color-bg-modal: #f1f0f5;
  --color-bg-pomodoro-change: white;
  --color-border-pomodoro-change: gray;
  --color-border-active-link: #e74c3c;
  --color-flag-no: gray;
  --color-flag-low: green;
  --color-flag-medium: #ef6c00;
  --color-flag-hard: red;
  --color-todo-link-icon: white;
  --color-todo-circle: gray;
  --color-todo-circle-bg: green;
  --color-button-hover-modal: rgb(219, 219, 219);
  --color-underlining-border: #c5c5c5;
  --color-overdue-text: red;
  --color-canvas-button-rest: rgba(62, 135, 243, 0.9);
  --color-canvas-button-text: white;
  --color-canvas-button-text-black: black;
  --color-canvas-button-focus: #e74c3c;
  --color-canvas-button-back-border: white;
  --box-shadow-color: rgb(167, 167, 167);

  @include mat.datepicker-overrides(
    (
      calendar-body-label-text-size: 0,
      calendar-date-today-outline-color: var(--color-secondary),
    )
  );
}

.button {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.icon {
  fill: var(--color-icon-tomato);
  transition: all 0.3s ease-in;
}
